@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.logo{
    font-weight: 700;
}
.logo-first{
    color: blue;
}
.sidebar{
overflow-x: hidden;
}

nav {
    overflow-x: hidden;
    background-color: #fff;
    
}
.main-content{
    background-color: #F5F6FA;
    overflow-x: hidden;
    
}





/* @media (max-width: 600px){
    .sidebar-section{
        display: none;
    }
} */

.form-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #fff;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

.form-profile img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.form-section form input, .form-select{
    background-color: #F5F6FA;
}

.btn-add{
    margin-top: 1.5rem !important;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
}
.btn-add button{
    width: 15rem;
    height: 3rem;
}